customtkinter
kivy
faster_whisper
sounddevice
ruamel.yaml
numpy==1.26.4
soundfile
scipy
scikit-learn
pathlib
alkana
sudachipy
pyopenjtalk
tqdm
pydub
pysinsy
Pillow
pyroomacoustics
jaconv
janomne
MeCab
jamorasep
marine
nnmnkwii
nnsvs
h5py